<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinizer">
      <label for="phrase"> Enter your phrase:</label></br>
      <input type="text" id="phrase" name="user_phrase">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
